html
  head
  body
    form(action='/', method='POST')
      p
        |          Todo: 
        input(name='todo', value='', type='text')
      input(value='Submit', type='submit')


      block content
      h1 #{title}
      br
      div.todos
         for todo,index in todos
             div.todo
             
              h1 ##{index+1} #{todo.todo}
                button(type='delete' method="DELETE") Delete
                button(type='delete') Edit

